@import url(http://fonts.googleapis.com/css?family=Noto+Sans);

* {
  font-family: 'Noto Sans', sans-serif;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background: #f0f0f0;
  height: 100%;
}

a {
  text-decoration: none;
}
