.chain {
    background: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    margin: 15px auto;
}

@media screen and (max-width: 600px) {
    .chain {
        border-radius: 0;
    }
}

/* chain card top */

.chain-extend {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.chain-extend > * {
    flex: 1;
}

/* chain card header */

.chain-header {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }

 /* chain card content */

.chain-content {
    padding: 10px;
    font-size: larger;
 }

 /* chain card image */

.chain-image {
    padding: 10px;
}

.chain-image > img {
    width: 100%;
    border-radius: 10px;
}

/* chain card date */

.chain-date {
    padding: 0 15px;
    text-align: right;
    font-size: small;
    font-weight: bolder;
    color: #555555;
}

/* chain card footer */

.chain-footer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
