<div class="card text-white bg-dark">
    <div class="card-body fdr">
        <app-clip title="유 동호" description="@sbladbujadk"></app-clip>
        <div class="spacer"></div>
        <button type="button" class="btn btn-primary">
            <i class="fas fa-user-plus"></i>
        </button>
    </div>
    <div class="card-body">
        <p class="card-title">Special title treatment</p>
        <p class="card-text">With supporting
            <a href="#">#text</a> below as a natural lead-in to additional content.</p>
        <!-- <img class="card-img" src="http://norr.uy.to:3000/api/resources/thumbnails/5ad9497a0ba7206bbbefa600.jpg" alt="Card image cap"> -->

    </div>
    <div class="card-body fdr">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-secondary">
                <i class="fas fa-edit"></i>
            </button>
            <button type="button" class="btn btn-secondary">
                <i class="fas fa-trash"></i>
            </button>
        </div>
        <div class="spacer"></div>
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-primary">
                <i class="fas fa-heart"></i> 30
            </button>
            <button type="button" class="btn btn-secondary">
                <i class="fas fa-retweet"></i> 30
            </button>
        </div>
    </div>
</div>